.popularNews {
  background: whitesmoke;
  border-radius: 5px;
  padding: 0 30px 0px 30px;
}

.popularNews .boxNews {
  margin: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: #dfdfdf 1px 1px 2px 2px;
}

.popularNews .imagesNewsConatiner {
  position: relative;
}

.popularNews img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.popularNewsCategory {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  display: block;
  padding: 5px;
  background: linear-gradient(to right, #56ab2f, #a8e063);
  background-position: right bottom;
  border-top-left-radius: 5px;
}

.popularNewsCategory span {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0;
}

.popularNews .text {
  padding: 15px 20px;
}

.titleNewsPopular {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 15px;
  color: black;
}

.datePopular i {
  width: 30px;
  color: #008100;
  font-size: 13px;
}

.datePopular label {
  font-size: 13px;
  color: #868585;
}
