.categorysNews {
  background: whitesmoke;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
}

.categorysNews .categorySelection {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}

.categorySelection {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 10px solid #7f00ff;
  width: auto;
  display: block;
  background: linear-gradient(to right, #7f00ff 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.categorySelection span {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0;
}

.categorySelection:hover {
  background-position: left bottom;
}

.subscribe {
  border: 1px solid black;
  text-align: center;
  background: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 17px;
}

.subscribe h1 {
  text-align: left;
  font-size: 20px;
}

.subscribe input {
  width: 90%;
  padding: 10px;
}

.subscribe button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: #fff;
  font-weight: 600;
  border: none;
}
